{% extends "base.njk" %}

{% block content %}

    <h1>Booking confirmation</h1>

    <div>
        <p>
            Hooray! you have booked an appointment for x:
        </p>

    </div>

{% endblock %}
