{% extends "base.njk" %}

{% block content %}

    <h1>Confirm your booking</h1>

    <div>
        <div>Event name: {{ eventData.event_name }}</div>
        <div>Date: {{ data.date }}</div>
        <div>Time: {{ data.startTime }} to {{ data.endTime }}</div>
        <div>Full name: {{ data.fullname }}</div>
        <div>Email: {{ data.email }}</div>

        <form method="post">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            {{ formButtons() }}
        </form>
    </div>

{% endblock %}
