{% extends "base.njk" %}

{% block content %}
    <div>
        <div>Logged in as <b>{{ email }}</b> | <a href="/sign-out">Sign out</a></div>
        
    </div>
    {% block morecontent %}{% endblock %}

{% endblock %}
