{% extends "base.njk" %}

{% block content %}

    <h1>Book an appointment for {{ eventData.event_name }}</h1>

    <div>
        <p>
            {{ eventData.event_description }}
        </p>
        <div id="schedule-send-at"></div>
        <form method="post">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            {{ formButtons() }}
        </form>
    </div>

{% endblock %}
