{% extends "base-logged-in.njk" %}

{% block morecontent %}

    <h1>Admin Page</h1>

    <div>
        <p>
        This is your admin page!
        </p>
        <a href="create-event">Create a new event</a>
    </div>

{% endblock %}
