{% extends "base.njk" %}

{% block content %}
    <div>
        <div>Logged in as {{ email }} </div>
        <a href="/sign-out">Sign out</a>
    </div>

    <h1>Admin Page</h1>

    <div>
        <p>
        This is your admin page!
        </p>
        <a href="create-event">Create a new event</a>
    </div>

{% endblock %}
