{% extends "base-logged-in.njk" %}

{% block morecontent %}

    <h1>Admin Page</h1>

    <div>
        <a href="create-event">Create a new event</a>
    </div>
    <h2>Your events</h2>
    {% for item in eventData %}
        {% set bookLink = 'book-1?id=' + item.event_id %}
        {% set scheduleLink = 'schedule?id=' + item.event_id %}
        <div>
            <span>{{item.event_name}}, <i>{{item.event_description}}</i>, <a href={{bookLink}}>{{item.event_name}} booking page</a>, <a href={{scheduleLink}}>View {{item.event_name}} schedule</a></span>
        </div>
    {% endfor %}
    
{% endblock %}
