{% extends "base.njk" %}

{% block content %}

    <h1>You have successfully created a new account!</h1>

    <div>
        <p>
            Visit your <a href="admin">Admin page</a>.
        </p>

    </div>

{% endblock %}
