{% extends "base.njk" %}

{% block content %}

    <h1>Login</h1>

    <div>

        <form method="post">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            
            {{ textInput('form.username', 'Username') }}
            {{ textInput('form.password', 'Password') }}
            {{ formButtons(submitButtonText = 'Sign in') }}
        </form>
    </div>

{% endblock %}
