{% extends "base.njk" %}

{% block content %}

    <h1>Sign in</h1>

    <div>
        <p>If you do not have an account, <a href="register">you can create one now</a>.</p>
        <form method="post">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            {{ textInput('form.email', 'Email address') }}
            {{ textInput('form.password', 'Password') }}
            {{ formButtons() }}
        </form>
    </div>

{% endblock %}
