{% extends "base.njk" %}

{% block content %}

    <h1>Book an appointment</h1>

    <div>
        <h2>{{ eventData.event_name }}</h2>
        <div>
            Description: {{ eventData.event_description }}
        </div>
        <div>
            Location: {{ eventData.event_location }}
        </div>
        <div>
            Duration: {{ eventData.duration_minutes }} minutes
        </div>
        <div id="schedule-send-at"></div>
        <form method="post">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            <input type="hidden" id="hidden-value" name="date-time">
            {{ formButtons() }}
        </form>
    </div>
{% endblock %}
